*{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #1B634B;
}

@font-face {
    font-family: facinante;
    src: url(Fascinate-Regular.ttf);
}

/* CABEÇALHO */

.inicio{
    height: 100px;
    background-color: #FFF7EC;
   align-items: center;
    display: flex;
}

.logo{
    height: 80px;
    margin-left: 50px;
    background-color: #FFF7EC;
} 

.loja{
  margin-left: 1280px;
  font-weight: bolder;
  color: black;
  background-color: #FFF7EC;
}

/* COMEÇO DO MAIN */

.menu{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #1B634B;

}

h2{
    text-align: center;
    color: white;
    font-family: facinante;
    font-size: 50px;
    margin-top: 40px;
}

.subtitle{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.linha{
    height: 1.5px;
    background-color:#C59D5F;
    width: 565px;
    margin-top: 10px;
}
.filter-btn {
    text-decoration: #C59D5F;
    border: 3.2px solid #C59D5F;
    border-radius: 15px;
     font-size: 17px;
    height: 50px;
    color: #C59D5F;
    font-weight: bold;
    height: 40px;
    width: 130px;
    display: flex;
    margin:  30px 20px ;
    align-items: center;
   justify-content: center;
}

.btn-container{
    display: flex;
}

.filter-btn:hover{
    border: 3.2px solid white;
    color: white ;
}

.item-text {
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 10px;
    text-decoration: white;
    color: rgb(214, 211, 211);
    text-align: justify;
    letter-spacing: 1px;
    line-height: 14px;
}

.menu-item{
    display: flex;
    flex-wrap: wrap;
align-items: center;
justify-content: center;
margin: 20px;
height: 490px;
width: 350px;
border: 1px solid rgba(255, 255, 255, 0.5); 
border-radius: 7px;
}


 .section-center{
    align-items: center;
    justify-content: center;
    width: 1380px;
    display: flex;
    flex-wrap: wrap;
    text-decoration: white;
 }

 h4 {
    text-decoration: white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
 }
 .price{
    color: #C59D5F;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 13px;
    margin: 5px 0px 15px 0px;
 }
 .photo {
    align-items: center;
    justify-content: center;
    display: flex;
   
 }

 a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
 }